//Sidebar
.sideBarContainer {
  background-color: #000000;
  height: 100vh;
  .sideBarImg {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 30px 0px 30px;
    margin: 0 17px;
  }
  .sidebar-link-container {
    font-size: 15px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 2px;
    .sidebar-Link {
      margin-bottom: -2px;
    }

    &:hover,
    &.active {
      color: #4cfbf6;
    }
    .SideBar-icon {
      padding-right: 20px;
    }
  }
}
.SideBarFooter {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

//Footer
.footerTypography {
  color: #9b46e4;
  font-size: 11px;
  text-decoration: underline;
  text-align: center;
  &:hover,
  &.active {
    color: #7834b4;
  }
}
.footerCopyright {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

//Home
.Home-img-blur {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
}

.Home-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 84px;
  margin-top: 45px;

  .Home-container {
    .Home-hello {
      height: 60px;
      margin-left: -19px;
    }

    .Home-Title {
      font-weight: bold 700 !important;
      font-family: "Poppins", sans-serif;
      color: #8720df;
      font-size: 30px;

      span {
        color: #ffffff;
        font-weight: 600;
      }
    }

    .Home-Title-typical {
      /* Supprimer la déclaration font-weight */
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 600;
      margin-top: 1px;
    }

    .Typo-body1 {
      color: #ffffff;
      opacity: 80%;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-top: -27px;
      padding-bottom: 15px;
    }

    .Typo-body2 {
      width: 72%;
      text-align: justify;
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      opacity: 59%;
      font-size: 13px;
      margin-bottom: 35px;
    }
    .home-Link {
      .home-Button {
        padding: 6px 25px;
        color: #8622dc;
        font-size: 15px;
        border: 1px solid #8622dc;
        border-radius: 10px;
        background-color: #101010;
        &:hover,
        &.active {
          background-color: #111c1c;
        }
      }
    }
  }
  .Home-portrait {
    z-index: 200;
    padding-right: 94px;
  }
}

//Home Component
.fast-Container {
  width: 100%;
  margin-top: 75px;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  background-image: linear-gradient(
    90deg,
    rgba(135, 32, 223, 1),
    rgba(73, 17, 121, 0.43)
  );

  .fast-marque {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 50px;
    span {
      display: inline-block;
      width: fit-content;
      padding: 0 40px;
      color: white;
      .img-fast {
        height: 20px;
        width: 200%;
      }
    }
  }
}
