//Sidebar
.sideBarContainer {
  background-color: #000000;
  height: 102vh;
  margin-top: -14px;
  max-width:249px !important;
  position:fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  .sideBarImg { 
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px 30px 0px 30px;
    margin: 0 17px;
  }
  .sidebar-link-container {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    margin-left: 2px;
    .sidebar-Link {
      margin-bottom: -20px;
    }

    &:hover,
    &.active {
      color: #9b46e4;
    }
    .SideBar-icon {
      padding-right: 18px;
      width:3rem;
      height: 3rem;
      
    }
  }
}
.SideBarFooter {
  position: absolute;
  z-index: 100;
  bottom: 5px;
  left: 5px;
}

//Footer
.footerTypography {
  color: #9b46e4;
  font-size: 11px;
  text-decoration: underline;
  text-align: center;
  &:hover,
  &.active {
    color: #491179;
  }
}
.footerCopyright {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

//Home
.Home-img-blur {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.Home-Body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 318px;
  margin-top: 90px;

  .Home-container {
    width: 50%;
    .Home-hello {
      height: 50px;
      margin-left: -19px;
    }

    .Home-Title {
      font-weight: bold 700 !important;
      font-family: "Poppins", sans-serif;
      color: #9b46e4;
      font-size: 30px;

      span {
        color: #ffffff;
        font-weight: 600;
      }
    }

    .Home-Title-typical {
      /* Supprimer la déclaration font-weight */
      font-family: "Poppins", sans-serif;
      font-size: 30px;
      font-weight: 600;
      color: #ffffff;
      margin-top: 1px;
    }

    .Typo-body1 {
      color: #ffffff;
      opacity: 80%;
      font-family: "Poppins", sans-serif;
      font-size: 14px;
      margin-top: 7px;
      padding-bottom: 15px;
    }

    .Typo-body2 {
      width: 64%;
      text-align: justify;
      font-family: "Poppins", sans-serif;
      color: #ffffff;
      opacity: 59%;
      font-size: 13px;
      margin-bottom: 35px;
    }
    .home-Link {
      .home-Button {
        padding: 6px 25px;
        color: #9b46e4;
        font-size: 15px;
        border: 1px solid #9b46e4;
        border-radius: 10px;
        background-color: #101010;
        &:hover,
        &.active {
          background-color: #111c1c;
        }
      }
    }
  }
  .Home-portrait {
    z-index: 200;
    padding-right: 46px;
  }
}

//Home Component
.fast-Container {
  width: 100%;
  margin: 125px 0 50px 0;
  overflow: hidden;
  padding: 0;
  background-image: linear-gradient(90deg, #8720DF, #670D5E);

  .fast-marque {
    overflow: hidden;
    white-space: nowrap;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
    height: 50px;
    span {
      display: inline-block;
      width: fit-content;
      padding: 0 50px;
      color: white;
      .img-fast {
        height: 20px;
        width: 200%;
        z-index: 1;
      }
    }
  }
}

//Contact
.Contact-Container {
  padding: 10px 0px 0 -10px;
  margin-left: 200px;
  width: 160vh;
  .container-Title {
    .contact-Title {
      text-align: center;
      justify-content: center;
      margin: 20px 50% !important;
      font-size: 24px;
      padding-top: 20px !important;
      font-weight: 600;
    }
  }
  .Form-contact-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    .container-typography {
      width: 27% !important;
      .name-Typography {
        font-size: 14px;
        font-weight: 900;
        padding-bottom: 10px;
      }
      .caption-typo {
        padding: 1px 0 15px 0;
      }
      .email-typo {
        padding: 1px 0 15px 0;
        .component-Number {
          font-weight: 800;
        }
      }
      .find-typo {
        padding: 1px 0 15px 0;
      }
      .social-Link {
        display: flex;
        .Link-component {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin: 0 5px;
          background-color: #fff;
          color: #000;
          transition: background-color 0.3s;

          &:hover {
            background-color: #9b46e4;
          }
        }
      }
      .Img-Contact {
        img {
          border-radius: 15px;
          transition: transform 0.3s ease-in-out;
        }
        img:hover {
          transform: scale(0.99);
          background-color: rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}
// Form Content
.Form-Container {
  margin: auto -100px;
  .send-Form {
    text-align: center;
    background-color: #9b46e4;
    padding: 2% 42.4%;
    margin-top: 5px;
    color: #ffffff;
    width: fit-content;
    display: flex;
    border-radius: 5px;
    align-items: center;
    }
  .send-Form:active,
  .send-Form:hover {
    text-align: center;
    background-color: #5c3f74;
    padding: 2% 42.4%;
    margin-top: 5px;
    color: #ffffff;
  }
  font-family: "Poppins", sans-serif;
  .Form-First-input-Flex {
    display: flex;
    justify-content: space-around;
    .single-Form {
      padding-right: 40px;
      .input-form {
        background-color: #0d0b0b;
        padding: 9px 18px;
        border-radius: 5px;
        width: 206px;
        &::placeholder {
          font-size: 13px;
          font-weight: bold;
        }
      }
    }
  }
  .single-Form {
    padding-bottom: 10px;
    label {
      font-size: 14px;
      font-weight: 900;
      margin-bottom: 10px !important;
    }
    .input-form {
      background-color: #0d0b0b;
      padding: 9px 18px;
      border-radius: 5px;
      width: 484px;
      border: none;
      &::placeholder {
        font-size: 13px;
        font-weight: 900;
      }
    }
    .input-form :active {
      background-color: #0d0b0b;
      padding: 9px 18px;
      border-radius: 5px;
      width: 484px;
      border: 1px solid #9b46e4;
    }
    .input-form-last {
      background-color: #0d0b0b;
      padding: 9px 18px;
      border-radius: 5px;
      width: 484px;
      border: none;
      height: 187px;
    }
  }
}
